<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    {% block head %}

        <title>Tourtoto :: {#{ page.title | trans }#}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            
            <style type="text/css" title="currentStyle">
                @import "{{ asset('assets/bootstrap/css/bootstrap-responsive.min.css') }}";
                @import "{{ asset('assets/bootstrap/css/bootstrap.min.css') }}";
                @import "{{ asset('assets/css/tourtoto-main.css') }}";
            </style>
            
            <script type="text/javascript" language="javascript" src="{{ asset('assets/jquery/jquery.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset('assets/js/page.default.js') }}"></script> 

           <!-- Generic Setting -->
            <script>
                var path = "{#{ path('detacom_gui_homepage') }#}";
            </script>
        
            <!-- JQuery -->
            <script type="text/javascript">
                
            $(document).ready(function() {
                
             
        
                         /* Block Ready */
                         {% block ready %}
                         {% endblock %}
                         /* EndBlock */
                                             
              
    
            });   
            </script>    
            
    {% endblock %}
    </head>
    <body>
        
        <!--
            <div class="top-bar">
                <div class="logo"></div>
            </div>
        
        
            <div class="title-bar">
                <div class="username dropdown-toggle">
                    {% if app.user %}
                        {#{ page.user }#}
                        <a href="{#{ path('logout') }#}">logout</a>
                   {% endif %}
                </div>
            </div>
-->
        <div class="container">
        <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row" style="margin-top: 180px !important"></div>
                    </div>
                </div>
        </div>

        {% block dynamic %}
        {% endblock %}
        
        
    </body>
</html>
